/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Variables */
:root {
  --primary-blue: #1D428A;
  --primary-gold: #FFC72C;
  --primary-gray: #6c757d;
  --light-white: #FDFEFF; 
  --error: #e7195a;
}

body {
  background: var(--light-white);
  margin: 0;
  font-family: "Poppins";
}

/* Banner */
.banner {
  padding: 1rem 0;
  margin: auto;
}

.banner img {
  margin: auto;
  display: block;
}

/* Navbar */
.custom-navbar {
  background-color: var(--primary-blue);
}

.custom-navbar img {
  height: 50px;
}

.custom-navbar .navbar-toggler {
  border-color: var(--primary-gold);
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(199, 179, 88)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.custom-navbar .container .custom-navbar-nav .navbar-nav a {
  color: var(--light-white);
}

.custom-navbar .container .custom-navbar-nav .navbar-nav a.active{
  color: var(--primary-gold);
}

.custom-navbar .user {
  color: var(--light-white);
}

.custom-navbar .logout-btn {
  margin-left: 10px;
}

.custom-navbar .login-btn {
  margin-right: 10px;
}

/* Pages */
.pages {
  max-width: 1400px;
  min-width: 480px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.page-title {
  font-weight: 400;
  font-size: 3.5rem;
  color: var(--primary-blue);
  text-align: center;
}

/* Carousel */
.carousel {
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.carousel img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Program Card Right */
.program-card {
  margin-bottom: 50px;
}

.program-card img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* Rosters */

.btn-group-container {
  margin-bottom: 0px;
}

.btn-group {
  margin: 10px 0;
}

.btn.team-btn, .btn.new-athlete-btn {
  background-color: var(--primary-gold);
  border: 1px solid var(--primary-gold);
  color: var(--primary-blue);
}

.btn.team-btn:hover, .btn.new-athlete-btn:hover {
  background-color: var(--primary-gold);
  border: 1px solid var(--primary-gold);
  color: var(--light-blue);
  opacity: .75;
  transition: ease-in .25s;
}

.btn.team-btn-active {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  color: var(--light-white);
}

.btn.team-btn-active:hover {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  color: var(--light-white);
}

/* Athlete List */
/* .list-group {
  border: 1px solid var(--primary-blue);
} */

.list-group .list-group-item {
  border: none;
  font-size: .85rem;
}

.list-group .athlete-list-title {
  font-size: 2rem;
  background-color: var(--primary-blue);
  color: var(--light-white);
}

.list-group .jersey-number {
  font-size: 1.05rem;
  font-weight: 500;
}

.btn.athlete-list-gamelog-btn {
  background-color: var(--primary-gold);
  width: 2em;
}

span.athlete-list-btn {
  cursor: pointer;
}

/* Athlete Detail */
.athlete-detail-banner {
  font-weight: 700;
  font-size: 1.65rem;
  margin-bottom: 25px;
  margin-left: 20px;
  color: var(--primary-blue)
}

/* Gamelog */
.gamelog-list-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: var(--primary-blue);
  margin-left: 20px;
}

.gamelog-container {
  margin: 0 5%;
  margin-bottom: 50px;
}

.gamelog-table {
  text-align: center;
}

.gamelog-table thead {
  border-bottom: solid 1px var(--color-brand-black);
  background-color: var(--primary-blue);
  color: var(--light-white);
}

.gamelog-table tr {
  border-bottom: solid 1px var(--color-brand-black);
  border-top: solid 1px var(--color-brand-black);
}

.gamelog-table thead td {
  font-weight: 600;
  font-size: 20;
  vertical-align: middle;
}

.gamelog-table td {
  font-size: .75rem;
  vertical-align: middle;
}

.gamelog-table td button {
  vertical-align: middle;
  font-size: .75rem;
}

.gamelog-table span.delete  {
  cursor: pointer;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-gold);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

hr.solid {
  border-top: 3px solid var(--primary-gray);
}
